spring:
  application:
    name: agarang

---
spring:
  profiles:
    active: local
    group:
      local: local, common, secret
      blue: blue, common, secret, server-common
      green: green, common, secret, server-common

server:
  env: blue

---
spring:
  config:
    activate:
      on-profile: local

server:
  port: 8080

serverAddress: localhost
serverName: local_server

---
spring:
  config:
    activate:
      on-profile: blue

server:
  port: 8080

serverName: blue_server

---
spring:
  config:
    activate:
      on-profile: green

server:
  port: 8081

serverName: green_server

---
spring:
  config:
    activate:
      on-profile: server-common

serverAddress: 43.200.109.115

---
spring:
  config:
    activate:
      on-profile: common
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    open-in-view: true
    defer-datasource-initialization: true # Sql auto init after jpa ddl-auto operation
  servlet:
    multipart: # TODO: Exception Handler 추가하기
      max-file-size: 5MB
      max-request-size: 10MB
  sql: # Set src/main/resources/data.sql auto init
    init:
      mode: always
      data-locations: classpath:data.sql

aws:
  s3:
    upload:
      tempPath: ./temp/
